---
BasedOnStyle: Microsoft

IndentWidth: 2
MaxEmptyLinesToKeep: 1
ColumnLimit: 165
InsertNewlineAtEOF: true

SortIncludes: Never
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline

BinPackArguments: false
BinPackParameters: false

AllowShortBlocksOnASingleLine: Never

Cpp11BracedListStyle: true
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
InsertTrailingCommas: Wrapped
AlignOperands: DontAlign
AlwaysBreakTemplateDeclarations : Yes

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 2
